<p>
  <a routerLink="new" class="btn btn-primary">New product</a>
</p>
<p>
  <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder="Search...">
</p>

@if (!loading) {
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
 @if (products.length!==0) {
  <tbody>
    @for (item of products; track $index) {
    <tr>
      <td>{{ item.title }}</td>
      <td>{{ item.price }}</td>
      <td>
        <a [routerLink]="['/admin/products/', item.productId]">Edit</a>
      </td>
    </tr>
    }
  </tbody>
 }@else {
  <h6>No data found !!!</h6>
 }
</table>
<div class="d-flex justify-content-between p-2">
	<div class="col">
    <ngb-pagination
		[collectionSize]="collectionSize"
		[(page)]="page"
		[pageSize]="pageSize"
		(pageChange)="refreshProducts()"
	>
	</ngb-pagination>
  </div>

	<select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshProducts()">
		<option [ngValue]="2">2 items per page</option>
		<option [ngValue]="4">4 items per page</option>
		<option [ngValue]="6">6 items per page</option>
	</select>
</div>
} @else {
  <app-loader></app-loader>
}
